<footer>
    <section>
        <a href="#"><i class="fa-solid fa-heart"></i></a>
    </section>
    <section>
        <a href="/"><i class="fa-solid fa-house"></i></a>
    </section>
    <section>
        <a href="#"><i class="fa-solid fa-message"></i></a>
    </section>
</footer>