<!-- Partial: Header -->
<header>
    <section>
        <a href="#"><i class="fa-solid fa-gear"></i></a>
    </section>
    <section>
        <img src="/static/img/logo.png">
    </section>
    <section>
        <a href="/profile"><i class="fa-solid fa-user"></i></a>
    </section>
</header>