<!-- URL: /api -->
<body class="home">
    {{>header}}
    <section class="api">
        <h1>Lijst met alle champions</h1>
        <section class="grid">
        </section>
    </section>
    {{>footer}}
    <script src="/static/js/api.js"></script>
</body>