<body class="index">
    <section>
        <img src="/static/img/logo.png">
        <section>
            <h1>Inloggen</h1>
            <input type="text" id="username" name="username" placeholder="Jouw gebruikersnaam...">
            <input type="password" id="password" name="password" placeholder="Jouw wachtwoord..">
            <a href="/forgot-password">Wachtwoord vergeten?</a>
            <input type="submit" value="Inloggen">
        </section>
        <p>Heb je nog geen account? <a href="/sign-up">Meld je aan!</a></p>
    </section>
</body>