<body class="index">
    <section>
        <img src="/static/img/logo.png">
        <form action="/set-profile" method="POST">
            <h1>Profiel instellen</h1>
            <input type="text" id="profilename" name="profilename" placeholder="Stel een weergavenaam in..." required>
            <p>Stel een profiel foto in.</p>
            <div class="profile-picture"></div>
            <input type="file" id="profilepicture" name="profilepicture">
            <input type="submit" value="Voltooien">
        </section>
    </section>
</body>