<body class="index">
    <section>
        <img src="/static/img/logo.png">
        <form action="/login" method="POST">
            <h1>Inloggen</h1>
            <input type="text" id="username" name="username" placeholder="Jouw gebruikersnaam...">
            <input type="password" id="password" name="password" placeholder="Jouw wachtwoord..">
            <label id="error"></label>
            <a href="/forgot-password">Wachtwoord vergeten?</a>
            <input type="submit" value="Inloggen">
        </form>
        <p>Heb je nog geen account? <a href="/sign-up">Meld je aan!</a></p>
    </section>
    <script src="/static/js/register.js"></script>
</body>