<body class="index">
    <section>
        <img src="/static/img/logo.png">
        <form action="/register" method="post">
            <h1>Registreren</h1>
            <input type="text" id="username" name="username" placeholder="Stel een gebruikersnaam...">
            <input type="email" id="email" name="email" placeholder="Jouw e-mailadres...">
            <input type="password" id="password" name="password" placeholder="Kies een wachtwoord..">
            <input type="password" id="passwordCheck" name="passwordCheck" placeholder="Herhaal je wachtwoord..">
            <label id="error"></label>
            <input type="submit" value="Registreren">
        </form>
        <p>Heb je al een account? <a href="/sign-in">Log dan hier in!</a></p>
    </section>
    <script src="/static/js/register.js"></script>
</body>